<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGpaDVm6hams0Pm2zo2W90PrnLsa0XkZo</string>
	<key>GCM_SENDER_ID</key>
	<string>71909924557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleFlutterBootcamb.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutterbootcamb</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterbootcamb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71909924557:ios:358af36ce3740ddc9f1384</string>
</dict>
</plist>